[worldserver]

############################################
#    First Login Scripts configuration     #
############################################

###################################################################################################
#   FirstLogin.Enable
#       Description: Enable First Login Scripts
#       Default: 1 (enabled)
#                0 (disabled)

FirstLogin.Enable = 1

#   FirstLogin.Announce
#       Description: Announce Module
#       Default: 1 (enabled)
#                0 (disabled)

FirstLogin.Announce = 1

#   FirstLogin.StableSlots
#       Description: Starting StableSlots for hunters (0-4)
#       Default: 0 (disabled)
#                1-4 (enabled)

FirstLogin.StableSlots = 0

#   FirstLogin.Pet
#       Description: New players of class Hunter gain a random pet
#       Default: 1 (enabled)
#                0 (disabled)

FirstLogin.Pet = 1

#   FirstLogin.RandPetName
#       Description: Set random Petname for generated pet
#       Default: 0 (disabled)
#                1 (generate name randomly)
#                2 (generate name out of 2 halves from db)

FirstLogin.RandPetName = 0

#   FirstLogin.BankSlots
#       Description: Number of unlocked BankSlots for new players (0-7)
#       Default: 0 (disabled)
#                1-7 (enabled)

FirstLogin.BankSlots = 0

#   FirstLogin.BagID
#       Description: ItemID of bag for BankSlots
#       Default: 0 (disabled)
#                id (Item)

FirstLogin.BagID = 0

#   FirstLogin.DualSpec
#       Description: New players have DualSpec
#       Default: 0 (disabled)
#                1 (enabled)

FirstLogin.DualSpec = 0